<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <style>
        .image{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: black solid 10px;
            height: 100vh;
            flex-direction: row;
            flex-wrap: wrap;
        }
    </style>
</head>
<body>
    <div class="image">
        <img src="../static/download.png" alt="">
        <img src="../static/download.png" alt="">
        <img src="../static/download.png" alt="">
        <img src="../static/download.png" alt="">
        <img src="../static/download.png" alt="">
    </div>

</body>
</html>